<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <nav class="navbar navbar-default center">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">
            <a href="/" class="home-link">DAILY JOURNAL</a>
          </p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li id="compose"><a href="/compose">Compose</a></li>
        </ul>
      </div>
    </nav>
    <style>
      .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
      }

      * {
        background-image: url("images/bgimg.avif");
      }
      .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
      }
      .navbar-nav li a:hover {
        color: #4ea316 !important;
      }

      .footer-padding {
        padding-bottom: 60px;
      }

      .footer {
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #ac1abc;
      }

      .footer p {
        margin-top: 25px;
        font-size: 12px;
        color: #fff;
      }
      #compose {
        text-transform: uppercase;
        border: 2px solid red;
      }
      .home-link{
        text-decoration: none;
        color: rgb(99, 97, 97);
      }
      .home-link:hover{
        text-decoration: none;
        color: black;
      }
    </style>

    <body>
      <div class="container"></div>
    </body>
  </head>
</html>
