<style>
  .home {
    text-align: left;
    margin-left: 200px;
  }
  .hContent {
    margin: 0px 200px;
  }
</style>
<%-include("partials/header.ejs")-%>
<div class="homeContentBox">
  <h1 class="home">About</h1>
  <p class="hContent"><%=aboutContent%></p>
</div>
<%-include("partials/footer.ejs")-%>
