<%- include("partials/header"); -%>
<style>
</style>
<div class="center">
  <h1 style="margin: 20px 200px"><%=title%></h1>
  <p style="margin: 20px 200px"><%=content%></p>
</div>
<%- include("partials/footer"); -%>
